<h1>Welcome!</h1>
<div>
  Here you will find a collection of resources for La-Mulana
  <ul>
    <li><a href="/save_file/edit">Save File Editor</a>: Upload a save file and adjust values to your heart's content.</li>
    <li><a href="/reference">Reference Guide</a>: Documents several of the code/RCD/MSD values used by the game and what they represent.</li>
    <li><a href="/multiworld">Multiworld</a>: Play La-Mulana Rando with friends.</li>
  </ul>
</div>
