<h1>Welcome!</h1>
<div>
  Here you will find a collection of resources for La-Mulana
  <ul>
    <li>
      <%= link_to 'Save File Editor', save_file_edit_path %>: Upload a save file and adjust values.
    </li>
    <li>
      <%= link_to 'Reference Guide', reference_path %>: Documents several of the code/RCD/MSD values used by the game and what they represent.
    </li>
    <li>
      <%= link_to 'Multiworld', multiworlds_path %>: Play La-Mulana Rando with friends.
    </li>
  </ul>
</div>
